* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color: rgb(0, 42, 70);
    color: #ffffff;
    font-size: 30px;
}
img{ 
width: 600px;
height: 600px ;

}